/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
h3 {
  padding: 2rem;
}
img{
  display: block;
  height: 15rem;
  margin: 0 auto;
}
section {
  width: 50rem;
  max-width: 100%;
  margin: 0 auto;
}
ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
li{
  width: 15rem;
  height: 14vh;
  border: 5px solid black;
}
a {
  height: inherit;
  width: inherit;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#dieselVan {
  background-image: url(../img/dieselVan.PNG);
}
#eveingaura {
  background-image: url(../img/eveningaura.PNG);
}
#leonilda {
  background-image: url(../img/leon.PNG);
}
#leonildá {
  background-image: url(../img/leonilda.PNG);
}
#lordNecomongr {
  background-image: url(../img/lordNecromongr.PNG);
}
#noire {
  background-image: url(../img/noire.PNG);
}
#rambro {
  background-image: url(../img/rambro.PNG);
}
#rayden {
  background-image: url(../img/rayden.PNG);
}
#gandalfTheBlack {
  background-image: url(../img/gandalfTheBlack.PNG);
}
#alissa {
  background-image: url(../img/alissa.PNG);
}
#ironMan {
  background-image: url(../img/ironMan.PNG);
}
#ranger {
  background-image: url(../img/ranger.PNG);
}