/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  font-family: 'PT serif', serif;
  background-image: url("../../img/gw2Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  color: white;
  height: auto;
  resize: both;
  text-shadow: -1px 0 black, 0 2.2px black, 2.2px 0 black, 0 -1px black;
  line-height: 1.5rem;
  letter-spacing: 1px;
}
.smc {
  display: flex;
  flex-direction: row-reverse;
  text-shadow: none;
}
.smc a {
  text-decoration: none;
  background-color: rgb(207,196,179);
  border: 2px solid rgb(207,196,179);
  border-radius: 2px;
  margin: 5px;
  color: black;
}
.heading-title {
   filter: drop-shadow(0 0 5px white)
}
h1 {
  text-align: center;
  text-shadow: -1px 0 black, 0 2.2px black, 2.2px 0 black, 0 -1px black;
  margin: 0;
  padding-bottom: 1rem;
}
h2 {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}
img {
  width: 5rem;
  padding: 1rem;
  filter: drop-shadow(0 0 5px black);
}
main {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}
/******************************************
/* Spec Selection
/*******************************************/
.coreSpecs {
  background-color: #1212128c;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 10px;
}
.coreSpecs ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.specSelection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
.specSelection h2 {
  text-align: center;
}
.specSelection li {
  cursor: pointer;
}
ul {
  list-style: none;
}
#coreVideo, #hotVideo, #pofVideo, #eodVideo {
  border-radius: 2rem;
  width: 40rem;
  height: 40vh;
  object-fit: cover;
}
/******************************************
/* Class Show Case
/*******************************************/
.classShowCase {
  display: flex;
  justify-content: center;
}
/******************************************
/* Spec Description
/*******************************************/
.specDescription {
  width: 70rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 3rem;
  border: 2px solid white;
  border-radius: 5rem;
  display: none;
}
.specHighlights, .specWeapons, .specP {
  padding: 0rem 3rem 0rem 3rem
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.guardColors {
  font-weight: bold;
  color: #8AF7F5;
}
.RevColors {
  font-weight: bold;
  color: #b50000;
}
.warColors {
  font-weight: bold;
  color: #c2a056;
}
.engiColors {
  font-weight: bold;
  color: #ce7f4b;
}
.rangeColors {
  font-weight: bold;
  color: #94c34a;
}
.thiefColors {
  font-weight: bold;
  color: #89676d;
}
.eleColors {
  font-weight: bold;
  color: #f77a84;
}
.mesColors {
  font-weight: bold;
  color: #d532ff;
}
.necroColors {
  font-weight: bold;
  color: #3e8e72;
}